a{
    text-decoration:none;
}
a:hover{
    cursor: pointer;
    text-decoration:none;
}
.container{
    width:1000px;
}
/*ͷ����ʶ��ʽ*/
.top_bar{
    width:100%;
    height:40px;
    background:#333;
    color:#999;
    position:fixed;
    z-index: 10000;
    top:0;
    left:0;
}
.top_bar_left,.bar_left{
    float:left;
}
.top_bar_right,.bar_right{
    float:right;
}
.top_bar a{
    color:#999 !important;
    font-size:14px;
    line-height: 40px;
    padding:0 0.75rem;
}